@page
@model ISfTE.Pages.Admin.Country.UpsertModel
@using ISfTE.Utility
@{
    ViewData["Title"] = "Upsert";
}

@if (User.IsInRole(SD.AdminRole))
{
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <div class="container">
            <div class="row px-2 mx-2 backgroundWhite border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.CountryObj.Country.Id != 0)
                {
                    <input type="hidden" asp-for="CountryObj.Country.Id" />
                }
                <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                    <h2 class="text-info">@(Model.CountryObj.Country.Id != 0 ? "Update" : "Create") Country</h2>
                </div>
                <div class="col-8 pt-3">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="CountryObj.Country.Name"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="CountryObj.Country.Name" autofocus />
                            <span class="text-danger" asp-validation-for="CountryObj.Country.Name"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="CountryObj.Country.CountryTypeId"></label>
                        </div>
                        <div class="col-9">
                            @Html.DropDownListFor(m => m.CountryObj.Country.CountryTypeId, Model.CountryObj.CountryTypeList,
                           "Please select a Country Type", new { @class = "form-control" })

                            <span class="text-danger" asp-validation-for="CountryObj.Country.CountryTypeId"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-9 offset-3">
                            <div class="row">
                                <div class="col-6">
                                    @if (Model.CountryObj.Country.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Update</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                    }

                                </div>
                                <div class="col-6">
                                    <a asp-page="./Index" class="btn btn-success form-control">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
}
else
{
    <h1 class="text-danger">Access Denied</h1>
}
