@page
@model ISfTE.Pages.AboutModel
@{
        ViewData["Title"] = "About Page";
}
<h1 class="text-info">About the ISfTE Web App</h1>
<p>This application was developed by Weber State University students during the Spring 2020 semester
    to digitize the abstract submission, rating, and reviewal process as well as the registration and payment processing 
    of the next International Society for Teacher Education conference that will be hosted at Weber State University.</p>

<h3 class="text-info">Developed by:</h3>

<h5>Derek Eaton</h5>
<p><a href="https://www.linkedin.com/in/derek-eaton-67935b105/" target="_blank">Linkedin</a></p>
<h5>Michael Dansie</h5>
<p><a href="https://www.linkedin.com/in/michael-dansie-09b840105/" target="_blank">Linkedin</a></p>
<h5>Robert Pickard</h5>
<p><a href="https://www.linkedin.com/in/robert-pickard-2ab0571a4/" target="_blank">Linkedin</a></p>
